@import url('https://fonts.googleapis.com/css2?family=Allura&family=DM+Serif+Text:ital@0;1&display=swap');

*,
*::after,
*::before,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 212mm;
}

.pagediv {
  max-width: 212mm;
  min-width: 210mm;
  min-height: 297mm;
  border: 1px solid black;
}
.couponDiv {
  width: 100%;
  height: calc(297mm / 4);
  /* border: 1px solid black; */
  position: relative;
}
.couponImg {
  max-width: 100%;
  max-height: calc(297mm / 4);
  position: absolute;
  top: 0;
  right: 0;
}
.heading {
  position: absolute;
  top: 3.8rem;
  left: 11rem;
  z-index: 1500;
  font-weight: 580;
  font-size: 2.5rem;
}

.des {
  position: absolute;
  top: 10rem;
  left: 11rem;
  z-index: 1500;
  font-weight: 580;
  font-size: 1.3rem;
}

.codePara {
  font-size: 1.2rem;
  position: absolute;
  z-index: 1000;
}

.firstCode {
  top: 4.2rem;
  left: 31.5rem;
}
.secondCode {
  top: 7.6rem;
  left: 29.7rem;
}
.qr {
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: 0.7rem;
  right: 15rem;
}
.secretCode {
  rotate: 90deg;
  color: black;
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  top: 11rem;
  left: -0.5rem;
}
.srl {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  rotate: 90deg;
  font-size: 0.7rem;
}

.allura {
  font-family: 'Allura', cursive;
}
